:root {
  --primary-orange: rgb(255, 125, 26);
  --primary-paleorange: rgb(255, 237, 224);
  --neutral-darkblue: rgb(29, 32, 37);
  --neutral-darkgrayblue: rgb(104, 112, 125);
  --neutral-grayblue: rgb(182, 188, 200);
  --neutral-lightgrayblue: rgb(247, 248, 253);
  --neutral-white: rgb(255, 255, 255);
  --neutral-black: rgb(0, 0, 0);
  --neutral-opacityblack: rgba(0, 0, 0, 0.75);
}
